Package: com.dingzhi.vcaminject
Name: VCam
Version: 0.3.7
Architecture: iphoneos-arm64
Description: Installable virtual camera package with global daemon state.
Maintainer: dingzhi
Author: dingzhi
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0)
Replaces: com.qianmian.vcaminject
Conflicts: com.qianmian.vcaminject
