Package: com.qianmian.vcaminject
Name: VCam Inject
Version: 0.1.2
Architecture: iphoneos-arm
Description: Replace AVFoundation camera sample buffers with virtual frames.
Maintainer: qianmian
Author: qianmian
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0)
